In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./lung_cancer_examples.csv')

In [3]:
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [4]:
data.shape

(59, 7)

In [5]:
data.isnull().sum()

Name       0
Surname    0
Age        0
Smokes     0
AreaQ      0
Alkhol     0
Result     0
dtype: int64

# Label encodeing because convert the categorical data to numerical data

In [6]:
from sklearn.preprocessing import LabelEncoder
labelencoder_Y = LabelEncoder()

In [7]:
data.iloc[:,0] =  labelencoder_Y.fit_transform(data.iloc[:,0].values)

In [8]:
data.iloc[:,1] =  labelencoder_Y.fit_transform(data.iloc[:,1].values)

In [9]:
data.iloc[:,1].values

array([47,  7,  0, 44, 28, 36, 43,  1, 24, 31, 29,  5,  8, 48, 27, 19, 19,
       42, 39, 22, 14, 37, 34, 35, 17, 30, 38, 41, 46, 16,  4, 26, 32, 13,
        9, 21, 18, 11,  6, 10, 23, 14, 12, 40, 25, 33,  2, 24, 45, 19, 19,
       42, 39, 22,  3, 15, 20, 34, 35])

In [10]:
data.iloc[:,1:7].corr()

          Surname       Age    Smokes     AreaQ    Alkhol    Result
Surname  1.000000  0.035988  0.069223  0.023939  0.055678  0.164017
Age      0.035988  1.000000  0.053665 -0.268957  0.318621  0.637726
Smokes   0.069223  0.053665  1.000000 -0.353295  0.469915  0.373444
AreaQ    0.023939 -0.268957 -0.353295  1.000000 -0.714412 -0.746621
Alkhol   0.055678  0.318621  0.469915 -0.714412  1.000000  0.810439
Result   0.164017  0.637726  0.373444 -0.746621  0.810439  1.000000

In [11]:
x = data.drop('Result',axis=1).values
y = data['Result'].values

In [12]:
y

array([1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0], dtype=int64)

In [13]:
from sklearn.model_selection import train_test_split
x_test , x_train,y_test,y_train = train_test_split(x,y,test_size=0.2,random_state=1)

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

# Train the model using Logistic regression

In [15]:
    from sklearn.linear_model import LogisticRegression
    logistic  = LogisticRegression(random_state = 0)
    logistic .fit(x_train , y_train)
    y_pre_logistic = logistic .predict(x_test)
    
    print("the accuracy of  Logistic Regressiono Model is :",logistic .score(x_train,y_train))

the accuracy of  Logistic Regressiono Model is : 1.0

# Train the model using Decision Tree

In [16]:
    from sklearn.tree import DecisionTreeClassifier
    D_tree = DecisionTreeClassifier(criterion='entropy' ,random_state = 0 )
    D_tree.fit(x_train , y_train)
    y_pre_D_tree = D_tree.predict(x_test)
    print("the accuracy of Decision Tree  Model is :",D_tree.score(x_train,y_train))

the accuracy of Decision Tree  Model is : 1.0

# Train the model using RandomForestClassifier

In [17]:
    from sklearn.ensemble import RandomForestClassifier
    R_forest = RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=0)
    R_forest.fit(x_train , y_train)
    y_pre_R_forest = R_forest.predict(x_test)

    print("the accuracy of RandomForest Classifier  Model is :",R_forest.score(x_train,y_train))

the accuracy of RandomForest Classifier  Model is : 1.0

In [18]:
from sklearn import svm
model_svm = svm.SVC(kernel="linear",gamma="auto",C=0.3)
model_svm.fit(x_train,y_train)
y_pre_svm = model_svm.predict(x_test)
print("the accuracy of  support vector machine  Model is :",model_svm.score(x_train,y_train))

the accuracy of  support vector machine  Model is : 1.0

# The k-Nearest Neighbors (KNN) algorithm

In [19]:
from sklearn.neighbors import KNeighborsClassifier
k_near = KNeighborsClassifier(n_neighbors=5)
k_near.fit(x_train, y_train)
y_pre_knn = k_near.predict(x_test)
print("the accuracy of  support vector machine  Model is :",k_near.score(x_train,y_train))

the accuracy of  support vector machine  Model is : 0.75

# Classification  report for every model

# logistic regression  classification report

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pre_logistic))

              precision    recall  f1-score   support

           0       0.59      1.00      0.75        22
           1       1.00      0.40      0.57        25

    accuracy                           0.68        47
   macro avg       0.80      0.70      0.66        47
weighted avg       0.81      0.68      0.65        47

# Support Vector Machine classification report

In [21]:
print(classification_report(y_test,y_pre_svm))

              precision    recall  f1-score   support

           0       0.71      1.00      0.83        22
           1       1.00      0.64      0.78        25

    accuracy                           0.81        47
   macro avg       0.85      0.82      0.81        47
weighted avg       0.86      0.81      0.80        47

# Decision Tree Algorithm classification report

In [22]:
print(classification_report(y_test,y_pre_D_tree))

              precision    recall  f1-score   support

           0       0.67      1.00      0.80        22
           1       1.00      0.56      0.72        25

    accuracy                           0.77        47
   macro avg       0.83      0.78      0.76        47
weighted avg       0.84      0.77      0.76        47

# RandomForestClassifier classification report

In [23]:
print(classification_report(y_test,y_pre_R_forest))

              precision    recall  f1-score   support

           0       0.69      1.00      0.81        22
           1       1.00      0.60      0.75        25

    accuracy                           0.79        47
   macro avg       0.84      0.80      0.78        47
weighted avg       0.85      0.79      0.78        47

# The k-Nearest Neighbors (KNN) algorithm classification report

In [24]:
print(classification_report(y_test,y_pre_knn))

              precision    recall  f1-score   support

           0       0.48      1.00      0.65        22
           1       1.00      0.04      0.08        25

    accuracy                           0.49        47
   macro avg       0.74      0.52      0.36        47
weighted avg       0.76      0.49      0.34        47